
body{
    background: rgb(10,38,71);
    background: linear-gradient(0deg, rgba(10,38,71,1) 23%, rgba(20,66,114,1) 86%) cover no-repeat;
    text-align: center;
    margin: 0;
}

h1{
    color: #E5E5CB;
    font-size: 8rem;
    letter-spacing: 5px;
    margin-bottom: 40px;
    margin-top: 10px;
    font-family: 'VT323';
}

/* player selector */

/* === removing default button style ===*/
.player-container .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
.player-container  .button {
    --border-right: 6px;
    --text-stroke-color: rgb(229, 229, 203,0.6);
    --animation-color: #2C74B3;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
  /* this is the text, when you hover on button */
  .player-container  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .player-container  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  
/* button roll style */

#roll-btn button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #E5E5CB;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #E5E5CB;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #E5E5CB;
    right: 12px;
    margin-top: 50px;
}
  
#roll-btn button:hover {
    color: #144272;
    box-shadow: inset 0 -100px 0 0 #E5E5CB;
}
  
#roll-btn button:active {
    transform: scale(0.9);
}
  
#roll-btn .btn-container{
    position: relative;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dice Setting */

.dice-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 400px;
}

.dice{
    position: relative;
    display: inline-block;
    border-radius: 20px;
    border: none;
    background-color: #E5E5CB;

    margin-left: 30px;
    width: 300px; height: 300px;
}

.dice-2{
    margin-right: 50px;
}

.dice-1{
    margin-left: 50px;
}

.dice .dot{
    background-color: #144272;
    border-radius: 100%;
    width: 76px; height: 76px;
}

.dot-4, .dot-5, .dot-6{
    position: relative;
    left: 204px;
    margin: 20px 0 20px 10px;
}

.dot-1, .dot-2, .dot-3{
    position: relative;
    bottom: 290px;
    margin: 20px 0 20px 10px;

}

.middle-dot{
    position: relative;
    left: 112px;
    bottom: 478px;
}

.preset{
    visibility: hidden;
}

/* output 1 */

div.output-1.dot-1, div.output-1.dot-2, div.output-1.dot-3, div.output-1.dot-4, div.output-1.dot-5, div.output-1.dot-6{
    visibility: hidden;
}

/* output 2 */

 div.output-2.dot-2, div.output-2.dot-3, div.output-2.dot-4, div.output-2.dot-5, div.output-2.middle-dot{
    visibility: hidden;
} 

/* output 3 */

 div.output-3.dot-2, div.output-3.dot-3, div.output-3.dot-4, div.output-3.dot-5{
    visibility: hidden;
}

/* output 4 */

div.output-4.dot-2, div.output-4.dot-5, div.output-4.middle-dot{
    visibility: hidden;
}

/* output 5 */

div.output-5.dot-2, div.output-5.dot-5{
    visibility: hidden;
}
/* output 6 */

div.output-6.middle-dot{
    visibility: hidden;
}

